* {
  font-family: 'Space Mono', monospace;
}

button, input, select, textarea {
  font-family: 'Space Mono', inherit, monospace;
}

body {
  margin: 0;
  padding: 0;
  background-color: hsl(185, 41%, 84%);
  font-family: 'Space Mono', inherit, monospace;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 100px;
}

main #logo-image {
  padding-bottom: 70px;
}

div .new-line {
  display: block;
  padding: 8px 0 8px 0;
}

#box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 0px 6px hsl(183, 37%, 37%);
  border-radius: 20px;
  padding: 35px;
  padding-bottom: 72px;
  height: 300px;
  width: 600px;
}

.information, .calculation {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 280px;
  height: 260px;
  padding: 14px;
  border-radius: 20px;
}

/*
==============================================================================================================================================================================================================================================================================================================================================================================================================================================
==============================================================================================================================================================================================================================================================================================================================================================================================================================================
//                            Left side of .box / Top side of .box
==============================================================================================================================================================================================================================================================================================================================================================================================================================================
==============================================================================================================================================================================================================================================================================================================================================================================================================================================
*/

.information {
  height: 320px;
  padding: 4px;
  padding-right: 40px;
  width: 400px;
  font-size: 14px;
}


.bill label {
  position: relative;
}

.bill label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 10px;
  width: 11px;
  bottom: 0px;
  background: url("images/icon-dollar.svg");
  background-repeat: no-repeat;
}

.bill input {
  border: 2px solid hsl(180, 62%, 95%);
  border-radius: 4px;
  padding: 3px 9px;
  height: 24px;
  width: 230px;
  background-color: hsl(180, 62%, 95%);
  text-align: end;
  font-size: 18px;
  font-weight: 600;
  transition: all 200ms ease-in;
}

.bill input:focus {
  outline: none;
  color: black;
  border-radius: 16px;
  border: solid 2px hsl(172, 67%, 45%)
}
.bill input:focus::placeholder {
  color: transparent;
}

.bill input::placeholder, .number-of-people input::placeholder {
  color: #aaa;
  font-size: 18px;
}

.information .grid-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding-right: 20px;
    
}
.information button {
  border: none;
  height: 34px;
  border-radius: 4px;
  background-color: hsl(183, 100%, 15%);
  color: white;
  font-size: 16px;
  font-weight: 600;
  transition: 120ms all ease-in;
}
.information button:hover {
  background-color: hsl(180, 62%, 95%);
  color:hsl(183, 100%, 15%);
  cursor: pointer;
}
.information button:active {
  background-color: hsl(183, 100%, 15%);
  color: white;
}

.information button:nth-child(6) {
  background-color: hsl(180, 62%, 95%);
  color: hsl(183, 100%, 15%);
}
.information button:nth-child(6):hover {
  background-color: hsl(183, 100%, 15%);
  color: hsl(180, 62%, 95%);
}
.information button:nth-child(6):active {
  background-color: hsl(180, 62%, 95%);
  color:hsl(183, 100%, 15%);
}

.number-of-people label {
  position: relative;
}

.number-of-people label::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 10px;
  width: 14px;
  bottom: 5px;
  background: url("images/icon-person.svg");
  
}

.number-of-people input {
  border: 2px solid hsl(180, 62%, 95%);
  border-radius: 4px;
  padding: 3px 9px;
  height: 24px;
  width: 230px;
  background-color: hsl(180, 62%, 95%);
  text-align: end;
  font-size: 18px;
  font-weight: 600;
  transition: all 200ms ease-in;
}

.number-of-people input:focus {
  outline: none;
  color: black;
  border-radius: 16px;
  border: solid 2px hsl(172, 67%, 45%)
}
.number-of-people input:focus::placeholder {
  color: transparent;
}

/*
==============================================================================================================================================================================================================================================================================================================================================================================================================================================
==============================================================================================================================================================================================================================================================================================================================================================================================================================================
//                        Right side of .box / Bottom side of .box
==============================================================================================================================================================================================================================================================================================================================================================================================================================================
==============================================================================================================================================================================================================================================================================================================================================================================================================================================
*/


.calculation {
  background-color: hsl(183, 100%, 15%);
  color:hsl(0, 0%, 100%);
  padding: 40px;
}

.calculation div .new-line {
  color: hsl(186, 24%, 75%);
}

.calculation .tip-amount, .calculation .total-per-person {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.calculation label {
  position: relative;
}

.calculation label::before {
  content: "";
  position: absolute;
  left: -3px;
  top: -3px;
  bottom: 4px;
  width: 15px;
  background-image: url("/images/icon-dollar-2.svg");
  background-size: cover;
}

.calculation .tip-amount input, .calculation .total-per-person input {
  width: 130px;
  height: 36px;
  border: none;
  font-size: 28px;
  text-align: end;
  background: none;
  color: hsl(183, 80%, 53%);
  font-weight: 600;
  outline: none;
}

.calculation .tip-amount input::placeholder, .calculation .total-per-person input::placeholder {
  color: hsl(183, 93%, 61%);
}


.calculation .reset-button-inactive {
  display: flex;
  justify-content: center;
}

.calculation .reset-button-inactive button {
background-color: hsl(183, 52%, 41%);
background-blend-mode: darken;
border: none;
width: 230px;
height: 38px;
border-radius: 5px;
font-weight: 800;
text-transform: uppercase;
}




/*
==============================================================================================================================================================================================================================================================================================================================================================================================================================================
==============================================================================================================================================================================================================================================================================================================================================================================================================================================
JavaScript setAttribute()
//                                          customInput.setAttribute("id", "custom-input");
//                                          customInputBtn.setAttribute("id", "custom-input-button:);
==============================================================================================================================================================================================================================================================================================================================================================================================================================================
==============================================================================================================================================================================================================================================================================================================================================================================================================================================
*/

.custom-input {
  display: none;
  transition: all 100ms;
}

.custom-input-button {
  display: none;
  transition: all 100ms;
}



#custom-input {
  grid-column-start: 1;
  grid-column-end: 3 ;
  height: 34px;
  text-align: center;
  outline: none;
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
  border: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight:600;
  display: initial;
  caret-color: hsl(183, 100%, 15%);
}

#custom-input-button {
  font-family: monospace;
  height: 34px;
  text-align: center;
  outline: none;
  background-color: hsl(183, 100%, 15%);;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 24px;
  font-weight:600;
  display: initial;
}
    #custom-input-button:hover {
      background-color: hsl(0, 1%, 23%);
      color: hsl(183, 66%, 41%);
    }
    #custom-input-button:active {
      background-color: hsl(0, 0%, 0%);
      color: hsl(183, 66%, 41%);
      transition: 120ms;
    }




.calculation #reset-button-active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculation #reset-button-active button {
  background-color: hsl(183, 84%, 51%);
  border: none;
  width: 230px;
  height: 38px;
  border-radius: 5px;
  font-family: 'Space Mono', monospace;
  font-weight: 800;
  text-transform: uppercase;
}
.calculation #reset-button-active button:hover {
  background-color: hsl(183, 73%, 45%);
  color: #000;
}  
.calculation #reset-button-active button:active {
  background-color: hsl(183, 71%, 38%);
  color: #fff;
}  
    


#people-amount-zero input {
  border: solid 2px rgb(255, 0, 0);
  border-radius: 5px;
}
#people-amount-zero:after {
  display: inline-block;
  position: absolute;
  bottom: 36px;
  right: 0px;
  content: "Can't be zero";
  color: red;
  width: 100px;
  height: 10px;
  font-size: 12px;
}

    

/*
==============================================================================================================================================================================================================================================================================================================================================================================================================================================
==============================================================================================================================================================================================================================================================================================================================================================================================================================================
//                                        Responsive Design - Media Queries
==============================================================================================================================================================================================================================================================================================================================================================================================================================================
==============================================================================================================================================================================================================================================================================================================================================================================================================================================
*/


@media only screen and (max-width: 680px) {
  body {
    background-color: hsl(185, 70%, 74%);
  }
  #box {
    flex-direction: column;
    justify-content: space-between;
    height: 560px;
    width: 360px;
    padding: 24px;
    padding-top: 15px;;
  }
  .information, .calculation {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 320px;
    padding: 20px;
    border-radius: 20px;
  }
  .calculation {
    padding-top: 24px;
  }
  .information .bill-amount, .information .people-amount {
    width: 300px;
  }
}





@media only screen and (max-width: 460px) {
  body {
    background-color: hsl(185, 60%, 64%);
  }
  #box {
    flex-direction: column;
    justify-content: space-between;
    height: 520px;
    width: 250px;
    padding: 16px;
    padding-top: 15px;;
  }
  .information, .calculation {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 234px;
    padding: 12px 1px;
    border-radius: 20px;
  }
  .calculation {
    padding: 10px;
    width: 230px;
    font-size: 14px;
  }
  .information .bill-amount, .information .people-amount {
    width: 230px;
  }
}